<% content_for :javascript_includes do %>
  <%= javascript_include_tag "gmaps.js" %>
<% end %>

    <div id="map-container">
		<div id="map-canvas"></div>
	</div>
	
<form action ="/roadworks/search" method="post">
<input name = "key" type="input" />
<input value="Send" type="submit"/>
</form> 
